body {
    text-align: center;
    background: #86a1ac;
}

h1 {
    position: relative;
    top: 50px;
    margin: auto;
    font-size: 60px;
}

h1, h2 {
    font-family: 'Bungee Shade', cursive;
    color: antiquewhite;
}

.top {
    background-image: url('./images/city%20buildings%20night.jpg');
    background-size: cover;
    width: 100%;
/*    height: 620px;*/
}

.bottom {
    background-image: url('./images/sparks.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
    color:antiquewhite;
}

.middle {
    background-image: url('./images/blurred%20lights%20city.jpg');
    background-size: cover;
    width: 100%; 
}

#skillsection {
    padding: 5px;
}

#skills {
    padding: 15px;
    width: 35%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin: 75px auto 0px auto;
    background-color: rgba(3,60,100,0.75);
    position: relative;
    top: 5px;
    list-style: none;
}

#skills li {
    display: inline;
}

.social {
    padding: 15px;
}

.social button {
    margin: 5px;
}

.btn-primary {
/*        width: 106px;*/
}

.middle img {
    width: 550px;
    height: 350px;
    padding: 30px;
}

.middle .col {
    float: none;
}

h2 {
    padding: 48px;
    font-size: 48px;
}

#contact {
    background: rgba(230, 194, 42, 0.75);
    color: black; 
    text-align: center;
    width: 70vw;
    margin: 75px auto auto auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    border-color: #663d00;
    position: relative;
    top:30%; 
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

address {
    font-family: 'Ubuntu', sans-serif;
}