body {
    text-align: center;
    background: #86a1ac;
}

h1 {
    position: relative;
    top: 50px;
    margin: auto;
    font-size: 60px;
}

h1, h2 {
    font-family: 'Bungee Shade', cursive;
    color: antiquewhite;
}

.top {
    background-image: url('city%20buildings%20night.jpg');
    background-size: cover;
    width: 100%;
    height: 620px;
}

.bottom {
    background-image: url('sparks.jpg');
    background-size: cover;
    width: 100%;
    height: 620px;
    color:antiquewhite;
}

.middle {
    background-image: url('blurred%20lights%20city.jpg');
    background-size: cover;
    width: 100%; 
/*    height: 620px;*/
}

#skillsection {
    padding: 5px;
}

#skills {
    padding: 15px;
    width: 35%;
    color: #242220;
    font-family: 'Ubuntu', sans-serif;
    margin: 125px auto 0px auto;
    background-color: antiquewhite;
    position: relative;
    top: 15px;
}

.social {
    position: relative;
    top: 150px;;
}

.btn-primary {
    width: 106px;
}

.middle img {
    width: 550px;
    height: 350px;
    padding: 30px;
}

.middle .col {
    float: none;
}

h2 {
    padding: 48px;
    font-size: 48px;
}

#contact {
    background: antiquewhite;
    color: black; 
    text-align: center;
    width: 500px;
    margin: 75px auto auto auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    border-color: #663d00;
    position: relative;
    top:40%; 
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

address {
    font-family: 'Ubuntu', sans-serif;
}