body {
    text-align: center;
    background: #86a1ac;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    margin: auto;
    font-size: 48px;
}

h1, h2, h3 {
    font-family: 'Bungee Shade', cursive;
    color: antiquewhite;
}

.headline {
    margin-top: 200px;
}

.subtitle {
    color: antiquewhite;
    font-size: 24px;
}

.top {
    background-image: url('./images/city%20buildings%20night.jpg');
    background-size: cover;
    width: 100%;
}

.bottom {
    background-image: url('./images/sparks.jpg');
    background-size: cover;
    width: 100%;
    height: 300px;
    color:antiquewhite;
    margin-top: 20px;
    padding-top: 20px;
}

.middle {
    background-image: url('./images/blurred%20lights%20city.jpg');
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
}

#skillsection {
    padding: 5px;
}

#skills {
    padding: 15px;
    width: 70%;
    margin: 75px auto 0px auto;
    background-color: rgba(3,60,100,0.75);
    position: relative;
    top: 5px;
    list-style: none;
}

.info-text {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

#skills li {
    display: inline;
}

.social {
    padding: 15px;
}

.social button {
    margin: 5px;
}

.btn-primary {
/*        width: 106px;*/
}

#sample {
    margin-bottom: 30px;
}

.middle img {
    width: 550px;
    height: 350px;
    padding: 20px;
}

.middle .col {
    float: none;
}

h2 {
    /*padding: 48px;*/
    font-size: 48px;
}

#contact {
    background: rgba(230, 194, 42, 0.75);
    color: black; 
    text-align: center;
    width: 70vw;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    border-color: #663d00;
    position: relative;
    /*top:30%;*/ 
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

